<div class="container">
  <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
    <h2 class="form-signin-heading">Login</h2>
    <div *ngIf="!isLoginSuccess" class="alert alert-danger">
      Invalid username or password.
    </div>
    <br />
    <label for="userName" class="sr-only">User Name</label>
    <input
      type="text"
      id="userName"
      name="userName"
      ngModel
      class="form-control"
      placeholder="User Name"
      required
    />
    <br />
    <label for="password" class="sr-only">Password</label>
    <input
      type="password"
      id="password"
      name="password"
      ngModel
      class="form-control"
      placeholder="Password"
      required
    />
    <br />
    <button
      class="btn btn-lg btn-primary"
      type="submit"
      [disabled]="!loginForm.valid"
    >
      Log in
    </button>
  </form>
</div>
